**/.vs/

modules/
packages/
repository/
TestResults/

TLDAG.Automation/
TLDAG.Automation.Tests/
TLDAG.Build/
TLDAG.Build.Tests/
TLDAG.Commands/
TLDAG.Commands.Tests/
TLDAG.Core/
TLDAG.Core.Tests/
TLDAG.Sdk/
TLDAG.Sdk.Tests/
