<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="repository" />
    <add key="repositoryPath" value="repository" />
  </config>
  <packageSources>
    <clear />
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" validated="True" trusted="True" />
    <add key="Packages" value="file:///C:/source/tldag-dotnet/packages" />
  </packageSources>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
